default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: url_shortener_development

test:
  <<: *default
  database: url_shortener_test

production:
  <<: *default
  database: url_shortener_production
  username: url_shortener
  password: <%= ENV['URL_SHORTENER_DATABASE_PASSWORD'] %>
